 .u-section-1 {
  background-image: url("images/CompetentWeirdAstrangiacoral-size_restricted.gif");
  background-position: 50% 50%;
  min-height: 1051px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 118px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 852px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 209px;
  height: 209px;
  background-image: url("images/tair.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-3 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-4 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 209px;
  height: 209px;
  background-image: url("images/zaki.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-6 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-7 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 209px;
  height: 209px;
  background-image: url("images/sat.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-9 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-10 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 209px;
  height: 209px;
  background-image: url("images/sanzhar.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-12 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-13 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 209px;
  height: 209px;
  background-image: url("images/kadylbek.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-15 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-16 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 209px;
  height: 209px;
  background-image: url("images/alihan.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-17 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-18 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-19 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 209px;
  height: 209px;
  background-image: url("images/bereke.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-20 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-21 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-22 {
  margin: 26px -8px 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 209px;
  height: 209px;
  background-image: url("images/anel.webp");
  background-position: 50% 50%;
  margin: 18px auto 0;
}

.u-section-1 .u-text-23 {
  margin: 14px -8px 0;
}

.u-section-1 .u-text-24 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -8px;
}

.u-section-1 .u-text-25 {
  margin: 26px -8px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 378px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    min-height: 649px;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-item-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 1140px) / 2) + 361px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 2069px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 410px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 295px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 1140px) / 2) + 444px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 144px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: url("images/CompetentWeirdAstrangiacoral-size_restricted.gif");
  background-position: 50% 50%;
  min-height: 984px;
}

.u-section-2 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 851px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 210px;
  height: 210px;
  background-image: url("images/ashim.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 210px;
  height: 210px;
  background-image: url("images/Screenshot_9.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-4 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-6 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 210px;
  height: 210px;
  background-image: url("images/vlad.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-7 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-9 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 210px;
  height: 210px;
  background-image: url("images/alibi.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-10 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-12 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 210px;
  height: 210px;
  background-image: url("images/andrey.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-13 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-15 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 210px;
  height: 210px;
  background-image: url("images/nurai.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-16 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-18 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 210px;
  height: 210px;
  background-image: url("images/amir.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-19 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-21 {
  margin: 12px 0 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  width: 210px;
  height: 210px;
  background-image: url("images/alexey.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-2 .u-text-22 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  font-size: 1.5rem;
  margin: 0 0 0 8px;
}

.u-section-2 .u-text-24 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 811px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    min-height: 658px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
  }

  .u-section-2 .u-list-item-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 621px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 2098px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 277px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3095px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 15px 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 15px 0;
  }
} .u-section-3 {
  background-image: url("images/CompetentWeirdAstrangiacoral-size_restricted.gif");
  background-position: 50% 50%;
  min-height: 480px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 409px;
  grid-gap: 22px 22px;
  grid-auto-columns: calc(33.3333% - 14.6667px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 210px;
  height: 210px;
  background-image: url("images/temirlan.webp");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-1 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -54px;
}

.u-section-3 .u-text-3 {
  margin: 9px -54px 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 210px;
  height: 210px;
  background-image: url("images/Screenshot_4.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -54px;
}

.u-section-3 .u-text-6 {
  margin: 9px -54px 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 210px;
  height: 210px;
  background-image: url("images/WhatsApp2022-12-0620.48.05.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-7 {
  width: 211px;
  margin: 22px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 0 -54px;
}

.u-section-3 .u-text-9 {
  margin: 9px -54px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 396px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 200px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 334px;
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-1 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-4 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-7 {
    margin-right: 21px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 303px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 206px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 803px;
    grid-auto-columns: calc(50% - 11.000025px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 135px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 72px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1440px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1365px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 1px 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-1 {
    width: 224px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 1px 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-4 {
    width: 224px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 1px 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-7 {
    width: 224px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 44px;
  }
}